* {
	margin:0;
	padding:0;
}


body {
	background-color:#FFFFFF;
	line-height:1.5em;
	width:100%;
}

.idea {
	width:30px;
	height:30px;
	background-color:#000000;
	margin:15px;
	display:inline-block;
	cursor:pointer;
}

#portfolio {
	width:700px;
}

.portfolioItem {
	width:200px;
	margin:0 15px;
}

#container {
	width:700px;
	margin:15px auto;
}

#ideas {
	line-height:1em;
}

#logo {
	width:25px;
	height:25px;
	margin:10px auto;
}

#content {
	margin: 10px 15px;
}

#footer {
	margin:10px;
	text-align:center;
}

ul {
	margin-left:30px;
}
